.gaugeCard{

background:#1c2336;

border-radius:18px;

padding:15px;

text-align:center;

box-shadow:0 8px 18px rgba(0,0,0,.35);

transition:.25s;

}

.gaugeCard:hover{

transform:translateY(-4px);

}

.gaugeTitulo{

color:#aeb9d6;

font-size:13px;

letter-spacing:1px;

margin-bottom:5px;

}

.gaugeValor{

font-size:34px;

font-weight:bold;

margin-top:-8px;

color:white;

}

.gaugeUnidad{

font-size:18px;

color:#8db3ff;

margin-top:-4px;

}